@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("/src/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.error-message {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: rgb(255, 31, 31);
  padding: 12px 16px;
  border-radius: 25px;
  margin: 0 10px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.heading {
  margin: 10px;
  font-size: 1.5rem;
}

h2 {
  margin: 30px 5px;
  font-size: 1.3rem;
}

.heading,
h2 {
  text-align: center;
  color: #ffcc00;
  text-shadow: 3px 3px 0 #000, 6px 6px 5px rgba(0, 0, 0, 0.5);
}

.search-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  padding: 0 10px;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.search-form input[type="text"] {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffcc00;
  border-radius: 25px;
  font-size: 10px;
  padding: 10px 12px;
  outline: none;
  color: #ffffff;
  width: 100%;
}

.search-form input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.search-form input[type="submit"] {
  background-color: #ff3131;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.search-form input[type="submit"]:hover {
  background-color: #d41c1c;
  transform: translateY(5px);
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pokemon-card {
  width: 100%;
  border: 4px solid #c0c0c0;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

.card-header {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-bottom: 3px solid #c0c0c0;
}

.pokemon-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}

.pokemon-type span {
  padding: 5px;
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}

.pokemon-img-container {
  margin-bottom: 10px;
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.pokemon-stats {
  font-size: 1.1rem;
  line-height: 1.6;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-top: 3px solid #c0c0c0;
}

.base-experience {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  line-height: 1.3;
}

.evolution-tree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.evolution-step img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.7);
}

.evolution-step p {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.stats-card {
  margin-top: 50px;
  width: 100%;
  border: 4px solid #c0c0c0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.1rem;
  line-height: 1.3;
}

.stats-card p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.stats-card p strong {
  color: #ffcc00;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 350px) {
  .heading {
    margin-top: 10px;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  .search-form input[type="text"] {
    font-size: 0.9rem;
  }
  .pokemon-card {
    width: 320px;
  }
  .pokemon-type {
    flex-wrap: nowrap;
  }
  .stats-card {
    width: 320px;
  }
  .pokemon-name {
    font-size: 1.5rem;
  }
}

@media (min-width: 550px) {
  .stats-card {
    width: 85%;
  }
}

@media (min-width: 686px) {
  .search-box {
    width: 80%;
    max-width: 400px;
  }

  .search-form input[type="text"] {
    font-size: 16px;
    padding: 12px 15px;
  }

  .search-form input[type="submit"] {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
  }

  .evolution-step {
    position: relative;
  }

  .evolution-step::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: #ffcc00;
    top: 50%;
    left: 100%;
  }

  .evolution-step:last-child::after {
    display: none;
  }

  .stats-card {
    width: 60%;
  }
}

@media (min-width: 1013px) {
  .heading {
    font-size: 2.5rem;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }

  .search-box {
    width: 60%;
    max-width: 500px;
  }

  .search-form input[type="text"] {
    font-size: 18px;
    padding: 15px 20px;
  }

  .search-form input[type="submit"] {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
  }

  .stats-card {
    position: absolute;
    left: 70%;
    max-width: 300px;
    margin-top: 0;
  }
}

@media (min-width: 1111px) {
  .stats-card {
    left: 65%;
    max-width: 400px;
  }
}
